input,
select,
textarea,
button {
  font: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}
.App header {
  text-align: center;
}

.App main {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.App main li {
  display: flex;
  flex-direction: row;
}

.App main ul {
  margin: 0;
  padding: 0;
}

.App main li label {
  flex-grow: 1;
}

.todo-field {
  display: flex;
  flex-direction: row;
}

.todo-field input {
  flex-grow: 1;
  min-width: 0;
}
